@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

:root {
  --primary-color-text: #00da12;
  --secondary-color-text: rgb(0, 0, 0);
  --block-background-color: #7ada82;
}
html,nav{
   max-width:1300px;
    margin: 0 auto;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}
/* live === button */
.live a {
  display: inline-block;
  font-size: 1em;

  text-decoration: none;
  padding: 10px 30px;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  margin: 10px;
  max-width:100%;
}

.live a:hover {
  letter-spacing: 3px;
  background-color: black;
  color: white;
}
.live-black-wala a {
  display: inline-block;
  font-size: 1em;

  text-decoration: none;
  padding: 10px 30px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  margin: 10px;
}
.live-black-wala a:hover {
  letter-spacing: 3px;
  background-color: white;
  color: rgb(0, 0, 0);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  border: 1px solid;
  border-radius: 6px;
}
.navbar.sticky {
  padding: 10px 0;

  background-color: var(--secondary-color-text);
}
.navbar.sticky .logo a span {
  color: var(--primary-color-text);
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  width: 100vw;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 35px;
  font-weight: 600px;
  color: var(--primary-color-text);
}
.navbar .logo a span {
  color: var(--secondary-color-text);
  transition: all 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: var(--primary-color-text);
  font-weight: 500;
  font-size: 18px;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: var(--secondary-color-text);
}
.navbar.sticky .menu li a:hover {
  color: var(--primary-color-text);
  opacity: 1;
}
.menu-btn {
  color: #00da12;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.spacer {
  height: 50vh;
  width: 90vw;
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.single-page-wrap {
  padding: 0 50px 0 50px;
}

img.attachment-large {
  width: 1024px;

  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;

  height: auto;
}

.btn-div {
  display: flex;
  flex-direction: row;
}

/* block-part */
.blocks-part {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blocks-part__container {
  /* height:80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
 
  max-width:100%;
}
.block {
  height: 311px;
  width: 339.328px;
  display: grid;
  place-items: center;
  text-align: center;
 
  height:auto;
  max-width:100%;
}
.block__image-container__background {
  /* background: var(--block-background-color); */
  /* border-radius: 50%; */

  

  display: grid;
  place-items: center;
  position: relative;
}
.rotate {
  height:100px;
  width:100px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
lord-icon {
 
  width: 100px; 
  height: 100px

}


/* GCM-Devices Part */

.GCM-Devices-part {
  background: #ededed;

  display: flex;

  height: 90vh;
  color: rgb(0, 0, 0);
}
.GCM-Devices-part__text {
  display: grid;
  place-items: center;
}
.GCM-Devices-part__text h1 {
  font-size: 2rem;
  max-width: 70%;
}
.GCM-Devices-part__text p {
  max-width: 70%;
  font-size: 1.3rem;
}
.GCM-Devices-part__image {
  display: grid;
  place-items: center;
}
.GCM-Devices-part__image img {
  /* height: 279.484px; */
  display: block;
  width: 536px;
  height:auto;
  max-width:100%;
}

/* white-picture-part */

.white-picture-part {
  background: #bebebe;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
  color: rgb(0, 0, 0);
  
}
.white-picture-part__text {
  padding: 20px;
  margin: auto;
  display: grid;
  place-items: center;
}
.white-picture-part__text h1 {
  font-size: 3rem;
  max-width: 70%;
}
.white-picture-part__text p {
  max-width: 70%;
  font-size: 1.3rem;
}
.white-picture-part__image {
  padding: 20px;
  margin: auto;
  display: grid;
  place-items: center;
}
.white-picture-part__image img {
  height: 358px;
 
  display: block;
  height:auto;
  max-width:100%;
}

/* .black-picture-part */
.black-picture-part {
  background: #14171c;

  display: flex;
  flex-direction: row;
  height: 90vh;
  color: white;
}
.black-picture-part__text {
  display: grid;
  place-items: center;
  margin: auto;
}
.black-picture-part__text h1 {
  font-size: 3rem;
}
.black-picture-part__text p {
  max-width: 70%;
  font-size: 1.3rem;
}
.black-picture-part__image {
  display: grid;
  place-items: center;
}
.black-picture-part__image img {
  height: 358px;

  display: block;
 
  height:auto;
  max-width:100%;
}

/* pair-section */

.pair-part {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pair-image {
  padding: 20px;
}
.pair-image img {
  display: block;
  /* width: 100%; */

  
 
  height:auto;
  max-width:100%;
}

/* heading in black background- */
.black-part {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    100deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(11, 22, 38, 1) 34%,
    rgba(85, 226, 255, 1) 100%
  );
  min-height: 80vh;
  text-align: center;
  position: relative;
  height: auto;
  
}
.black-part__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Poppins, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 65px;
  color: white;
}

/* contact section styling */
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: blue;
}

.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .subtitle {
  color: black;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: blue;
}
.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .email {
  margin-right: 10px;
}

.contact .right form .textarea {
  height: 150px;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  color: #fff;
  border: 2px solid blue;
  background: blue;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover {
  color: blue;
  background: none;
}

.contact .right form .fields input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
#status {
  width: 80%;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(255, 255, 255);
  color: green;
  animation: status 4s ease forwards;
}
#status.error {
  color: blue;
  animation: status 4s ease forwards;
}

/* all similar content styling code */
section {
  padding: 30px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.contact {
  font-family: "Poppins", sans-serif;
}

.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: blue;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* map-section */
.map-part {
  display: grid;
  place-items: center;
}

iframe {
  height: 300px;
  width: 1120px;
  max-width: 100%;
}



/* Responsive Media Query */
@media (max-width: 1300px) {
  .max-width {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .GCM-Devices-part,
  .white-picture-part,
  .black-picture-part {
    font-size:rem;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    background: #111;

    /* top:8.5%; */
    top: 0;
    width: 100%;
    left: -100%;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
    opacity: 0.9;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .max-width {
    max-width: 800px;
  }

  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media (max-width: 800px) {
  .blocks-part__container,
  .GCM-Devices-part,
  .white-picture-part,
  .black-picture-part ,.btn-div {
    flex-direction: column;
    height: auto;
    margin:0 auto;

  }
  .black-part__text 
  {
    font-size:40px
  }
}
@media (max-width: 690px) {
  .max-width {
    padding: 0 21px;
  }
}
@media (max-width: 500px) {
  .black-part__text 
  {
    font-size:20px
  }
}